.container{
    font-family: "Rubik", sans-serif;
    margin: 0 5% 0 5%;
}

/* header styles start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

.list{
    display: flex;
 list-style-type: none;
 width: 30%;
 justify-content: space-between;
 margin: 0;
 align-items: center;
 font-size: 18px;
}

.list_item>a{
    text-decoration: none;
    font-size:16px;
    font-weight: 400;
    color: #4F5665;
}

.header__sign{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
.header__btn{
    font-size: 16px;
    font-weight: 600!important;
    width: 150px;
    border-color: #F53855;
    color: #F53855;
    border-radius: 50px;
    border: 1px solid;
    background-color: white;
    margin-left: 20px; 
}
/* header styles end*/

/* main styles start*/
.main{
    display: flex;
    align-items: center;
    margin-top: 8%;
}
.main-left > h1 { 
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.main-left >p { 
    font-size: 15px;
    line-height: 30px;
}

.main-btn{
background-color: #F53838;
text-align: center;
margin-top: 10%;
border: none;
color: white;
font-size: 16px;
font-weight: 700;
border-radius: 10px;
width: 250px;
height: 60px;
box-shadow:
 rgba(255, 0, 0, 0.35)
 0px 16px 45px;
}
/* main styles end*/

/* card info  styles start*/
.card-info{
    width: 80%;
    display: flex;
    margin: 12% 0 12% 10%;
    border-radius: 10px;
    justify-content:space-around;
    box-shadow:rgba(13, 16, 37, 0.1)
 0px 42px 43px;
    
}
.class-info__box{
    width: 200px;
    display: flex;
    padding: 3% 5%;
    border-right: 2px solid;
    border-color: #EEEFF2;
 
}
.class-info__box-item {
    margin-left: 25%;
}
.class-info__box-item >h1{
   font-size: 24px;
   margin: 0;
}
.class-info__box-item >p{
    font-size: 16px;
    margin: 10% 0;
 }
 .box2{
    border: none;
 }
 /* card info  styles end*/

  /* features styles start*/
 .features{
    display: flex;
    align-items: center;
}
.features-right{
margin-left: 10%;
}
.features-right>h1 { 
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.features-right>p { 
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.features-right__list>span { 
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 3%;
 
}
.features-right__list{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
  /* features styles end*/

 /* plan styles start*/
 .plan{
    margin-top: 12%;
 }
  .title{
    text-align: center;

  }
  .title>h1{
   font-size: 35px;
   font-weight: 500;
   line-height: 50px;
  }
  .title>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
   }
   .plan-box2__item{
   padding-top: 5%;
   text-align: center;
   border: 2px solid;
   border-color: rgba(221, 221, 221, 1);
   border-radius: 10px;
   width: 330px;
   height: 660px;
   }
   .plan-box2__item >h3{
    font-size: 18px;
    font-weight: 500;
   }
   .plan-box2__item2{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 25%;
   }
   .plan-box2__item2>span { 
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 7%;
}
.plan__btn{
    font-size: 16px;
    font-weight: 600!important;
    width: 177px;
    height: 45px;
    border-color: #F53855;
    color: #F53855;
    border-radius: 50px;
    border: 2px solid;
    background-color: white;
}
.plan-box2{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}
.plan-box2__item3{
  margin-bottom: -5%;
}
.plan-box2__item3>h3{
    font-size: 25px;
    font-weight: 500;
}
.plan__btn2{
    background-color: #F53838;
    color: white;
    box-shadow:
 rgba(255, 0, 0, 0.35)
 0px 16px 45px;
}
.plan-boxes{
    height: 250px;
}
.plan-box2__item1{
    border-color: #F53838;
}
 /* plan styles end*/

  /* network styles start*/
 .network{
    margin-top: 10%;
 }
 .network>img{
    margin-top: 8%;
    width: fit-content;
 }
 .companies{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .companies-img1{
    width: 200px;
    height: 112px;
 }
 .companies-img2{
    width: 156px;
    height: 50px;
 }
 .companies-img3{
    width: 277px;
    height: 208px;
 }
 .companies-img4{
    width: 187px;
    height: 63px;
 }
 .companies-img5{
    width: 171px;
    height: 51px;
 }
 /* network styles end*/

  /* feedback styles start*/
 .feedback{
    margin-top: 5%;
 }
 .slider{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
 }
 .slider-card{
    width: 330px;
    height: 180px;
    border: 2px solid #F53838;
    padding: 3% 3%;
    border-radius: 10px;
 }
 .card-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 }
 .card-user_info{
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
 }
 .name{
    margin-left: 10%;
 }
 .name>h3{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
 }
 .name>p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
 }
 .card-user__star{
    display: flex;
    align-items: center;

 }
 .card-user__star>p{
    font-size: 16px;
    font-weight: 400;
    margin-right: 20%;
 }
 .card-user__star>img{
    width: 16px;
    height: 16px;
 }
 .slider-card>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
 }
   /* feedback styles end*/

 /* subscribe styles start*/
   .subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    padding: 0 8%;
    width:950px;
    height: 230px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    z-index: 2;
   }
   .subscribe-btn{
    margin: 0;
   }
   .subscribe-title{
    text-align: start;
   }
 /* subscribe styles end*/

 /* footer styles start*/
 footer{
    margin-top: 20%;
    background-color:  #F8F8F8; 
 }
 .footer-content{
    font-family: "Rubik", sans-serif;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 12%;
    padding-bottom: 10%;
 
 }
 .footer-first{
    width: 320px;
 }
 .footer-first>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
 }
 .footer-txt{
    color: #AFB5C0;
    margin: 0;
 }
 .footer-list{
    list-style-type: none;
    margin: 0;
    color: #4F5665;
}
.footer-list__item>a{
    text-decoration: none;
    font-size:16px;
    font-weight: 400;
    color: #4F5665;
}
.footer-second{
    width: 74px;
    height: 280px;
    margin-left: 12%;
}
.footer-third{
    width: 180px;
    height: 280px;
    margin-left: 5%;
}
.footer-fourth{
    width: 170px;
    height: 120px;
}
.footer-title>a{
    font-size:18px;
    font-weight: 500;
    color: #0B132A;
    /* margin-bottom: 50px !important;  */
}

.footer-list__item{
    margin-bottom: 30px;
}
.footer-title{
    margin-bottom: 40px !important; 
}

/*footer styles end*/
.sample-slider{
    width:100%;
}